version: '3'

services:
  api:
    container_name: "snippets-api"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8080"
    environment:
      DB_USER: sa
      DB_PASSWORD: password
      DB_NAME: snippets-db
      DB_HOST: snippets-db
      DB_PORT: 5432

  db:
    container_name: "snippets-db"
    image: postgres:12
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: password
      POSTGRES_DB: snippets-db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
    external: true

